// Vars

// Colors
$brightBlue: #3a7bfd;
$CheckBackground: linear-gradient(to right, #57ddff, #c058f3);
// dark theme
$VeryDarkBlue: #161722;
$VeryDarkDesaturatedBlue: #25273c;
$LightGrayishBlueDark: #cacde8;
$DarkGrayishBlueDark: #777a92;
$VeryDarkGrayishBlueDark: #4d5066;
$VeryDarkGrayishBlueDark2: #393a4c;
// light theme
$VeryLightGray: #fafafa;
$VeryLightGrayishBlue: #e4e5f1;
$LightGrayishBlueLight: #d2d3db;
$DarkGrayishBlueLight: #9394a5;
$VeryDarkGrayishBlueLight: #484b6a;

// Css Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
  background-color: $VeryDarkBlue;
  background-image: url("../img/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: $VeryLightGrayishBlue;

  &.light-theme {
    background-color: $VeryLightGray;
    background-image: url("../img/bg-mobile-light.jpg");
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.todo {
  width: 90%;
  max-width: 52rem;
  margin: 4rem auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &-title {
      font-size: 2.8rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      color: $VeryLightGray;
    }
  }

  &__theme-switcher {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background: url("../img/icon-sun.svg") center no-repeat;

    &.light-theme {
      background: url("../img/icon-moon.svg") center no-repeat;
    }
  }

  &__top-bar,
  &__main,
  &__controll-pannel,
  &__filter-list {
    background: $VeryDarkDesaturatedBlue;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    color: $LightGrayishBlueDark;
  }

  &__top-bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    form {
      width: 95%;
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      background: transparent;
      padding: 0.5rem 1.6rem;
      font-size: 1.6rem;
      font-family: inherit;
      color: $LightGrayishBlueDark;
      display: inline-block;
      cursor: pointer;
    }
  }

  &__main {
    margin-bottom: 0;
  }

  .todos {
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $VeryDarkGrayishBlueDark;
    cursor: pointer;
    &.is-completed {
      text-decoration: line-through;

      .todos__check {
        background: linear-gradient(to right, #57ddff, #c058f3);
      }
    }

    &__check,
    &-check {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      border-radius: 50%;
      border: 1px solid $VeryDarkGrayishBlueDark;
      background: transparent;
      cursor: pointer;
    }
    &__name {
      width: 85%;
      padding: 1rem;
    }
    &__delete {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      //padding: 0.4rem;
      cursor: pointer;
      background: url('../img/icon-cross.svg') no-repeat center center/cover;
      
    }
  }

  &__controll-pannel {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    margin-bottom: 8rem;
  }

  &__filter-list {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: -6rem;
    margin-bottom: 0;
  }

  .filter {
    text-transform: capitalize;
    cursor: pointer;

    &.active {
      color: $brightBlue;
    }
  }

  .clear-completed {
    cursor: pointer;
  }

  &__reminder {
    text-align: center;
    font-size: 1.6rem;
  }

  &.light-theme {
    .todo__top-bar,
    .todo__main,
    .todo__controll-pannel,
    .todo__filter-list {
      background: #fff;
      color: $VeryDarkGrayishBlueLight;
    }
    .todo__top-bar input {
      color: $VeryDarkGrayishBlueLight;
    }
    .todo__main {
      box-shadow: 0 0 5rem 1px rgba(228, 229, 241, .6);
    }
    .todo__controll-pannel {
      box-shadow: 0 2rem 3rem  rgba(228, 229, 241, .6);
    }
    .todos {
      border-bottom-color: lighten($LightGrayishBlueLight, 10%);
      &__check,
      &-check {
        border-color: $VeryLightGrayishBlue;
      }
    }

    .todo__reminder {
      color: $VeryDarkGrayishBlueLight;
    }
  }
}


@media screen and (min-width: 768px) {
  body {
    padding-top: 3rem;
    background-image: url("../img/bg-desktop-dark.jpg");
    &.light-theme {
      background-image: url("../img/bg-desktop-light.jpg");
    }
  }

  .todo__filter-list {
    position: static;
    padding: 0;
    width: auto;

    .filter:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding-top: 15rem;
  }
}
